.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
    transition: all 500ms ease-out;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transition: all 500ms ease-out;
}

.fademodal-enter {
    opacity: 0;
}

.fademodal-enter-active {
    opacity: 1;
    transition: all 500ms ease-out;
}

.fademodal-exit {
    opacity: 1;
    transform: scale(1);
}

.fademodal-exit-active {
    opacity: 0;
    transition: all 500ms ease-out;
}