.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
    transition: all 300ms ease-out;
}

.fade-exit {
    opacity: 1;
    width: fit-content;
    height: 60px;
}

.fade-exit-active {
    opacity: 0;
    transition: all 300ms ease-out;
}


/* chatmodal animations */
.fademodal-enter {
    transform: translate(50%, 50%) scale(0);
}

.fademodal-enter-active {
    transform: translate(0, 0) scale(1);
    transition: all 300ms ease;
}

.fademodal-exit {
    transform: translate(0, 0) scale(1);
}

.fademodal-exit-active {
    transform: translate(50%,50%) scale(0);
    transition: all 300ms ease;
}

@media (max-width: 600px){
    .fademodal-enter {
        transform: translate(0, 0) scale(0);
    }
    
    .fademodal-enter-active {
        transform: translate(-50%, -50%) scale(1);
        transition: all 300ms ease;
    }
    
    .fademodal-exit {
        transform: translate(-50%, -50%) scale(1);
    }
    
    .fademodal-exit-active {
        transform: translate(0,0) scale(0);
        transition: all 300ms ease;
    }
}
