.chatbot__btn{
    border: none;
    position: absolute;
    bottom: 20px;
    right: 20px;
    transform: translate(-20px,-20px);
    background-color: #773131;
    width: 100px;
    height: 100px;
    border-radius: 75px;
    text-align: center;
}

.icon{
    color: white;
    font-size: 35px;
    transition: transform 1s ease;
}

.chatbot__animate{
    transform: rotate(180deg) ;
}

.chatbot__btn:hover{
    cursor: pointer;
    background-color: #742424;
}

@media (max-width: 600px){
    .chatbot__btn{
        width: 80px;
        height: 80px;
    }
}