/* custom scroll bar */
#conversation::-webkit-scrollbar {
    width: 0.6em;
}
   
#conversation::-webkit-scrollbar-thumb {
    background-color: #3d3d5d ;
    border-radius: 0.4rem;
}

.chatbot__backdrop{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(105, 105, 105, 0.8);
}

.chatbot__container{
    position: absolute;
    bottom: 30px;
    right: 30px;
    display: flex;
    flex-direction: column;
    width: 450px;
    max-width: 450px;
    height: 75vh;
    background-color: white;
    border: 1px solid #8A8989;
    border-radius: 25px;
    box-shadow: 7px 10px 4px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}
    
.chatbot__title{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-image: linear-gradient(to right, #4065C8, #5778CB);
    padding: 1rem;
    color: white;
    font-size: 1rem;
}

.logo{
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 45px;
}

.logo img{
    position: relative;
    max-width: 60px;
}

.chatbot__title h1{
    border-bottom: 2px solid rgb(255, 255, 255, 0.5);
    padding-bottom: 5px;
    width: fit-content;
    font-weight: 900;
}


.chatbot__title h2{
    padding-top: 10px;
    font-weight: 500;
}

.chatbot__close{
    margin-left: auto;
    background-color: transparent;
    border: none;
    color: white;
}

.chatbot__close:hover{
    cursor: pointer;
}

.chatbot__close i{
    font-weight: bolder;
    font-size: 2rem;
}

.chatbot__chatBlock{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: nowrap;
    padding: 1rem;
    height: 100%;
    overflow: hidden;
}

.chatBlock__conversations{
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: 0px 1rem;
    margin: 1.25rem 0px;

}

.chatBlock__form{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.chatBlock__form input{
    display: inline-block;
    width: 85%;
    height: 60px;
    padding: 15px;
    border: none;
    border-radius: 30px 0px 0px 30px;
    background-color:#e4e4e4d0;
    font-size: 1.2rem;
    border: 2px solid #b2b2b2 ;
}

.chatBlock__form input:focus{
    outline: none;
    background-color:  #ECE1E1;
}

.send__btn{
    border: none;
    background-color: #0054A1;
    width: 60px;
    align-self: stretch;
    color: white;
}

.send__btn i{
    font-size: 2rem;
    font-weight: bolder;
}

.send__btn:hover{
    cursor: pointer;
    background-color: #0364be;
}

@media (max-width: 600px){
    .chatbot__container{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 95vw;
        height: 80vh;
    }
    .chatbot__title{
        font-size: 0.9rem;
    }
}

@media (max-width: 400px){
    .chatbot__title{
        font-size: 0.7rem;
    }
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        background-color: white;
        border-radius: 30px;
    }
    
    .logo img{
        position: relative;
        max-width: 40px;
    }
}
